<section data-ng-controller="notesController" data-ng-init="getAll()">
  <h1>Notes:</h1>
  <aside data-ng-if="errors.length">
    <h2>Errors:</h2>
    <ul data-ng-repeat="error in errors">
      <li>{{error.msg}}</li>
    </ul>
    <button class='btn btn-default btn-sm' data-ng-click="clearErrors()">Clear Errors</button>
  </aside>

  <div data-note-form-directive 
       data-save="createNewNote(note)"
       data-button-text="'Create New Note'"
       data-label-text="Create A New Note"></div>

  <ul data-ng-repeat="note in notes">
    <li>{{note.noteBody}}
        <button class='btn btn-default btn-sm' data-ng-if="!note.editing" data-ng-disabled="!note._id" data-ng-click="toggleEdit(note)">Edit</button> 
        <div data-note-form-directive
             data-save="saveNote(note)"
             data-button-text="'Save Changes'"
             data-label-text="Editing Note: "
             data-ng-if="note.editing"
             data-note="note">
          <button class='btn btn-default btn-sm' type="button" data-ng-click="toggleEdit(note)">Cancel</button> 
        </div>

        <span class="glyphicon glyphicon-remove" style="cursor:pointer" ng-click="startRemove()" ng-hide="removing">
        </span>
        <span ng-show="removing">
          <button class="btn btn-xs btn-success" ng-click="removeNote(note)">Remove</button>
          <button class="btn btn-xs btn-danger" ng-click="cancelRemove">Never Mind</button>
        </span>

    </li>
  </ul>
</section>
